<router-outlet></router-outlet>
<!DOCTYPE html>

<button>add Data</button>
<form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
  <input type="text" ngModel name="tittle" placeholder="tittle" />
  <br /><br />
  <input type="text" ngModel name="subTittle" placeholder="tittle" />
  <br /><br />
  <button ngModel>add Data</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tittle</th>
      <th scope="col">SubTittle</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of newdata; index as i">
        <td> {{item._id}} </td>
      <td>{{ item.tittle }}</td>
      <td>{{ item.subTittle }}</td>

      <td>{{ newdata.author }}</td>
      <td><button  (click)="addDataForm(item)">Edit</button></td>
      <td><button  (click)="DeleteUser(item)">Delete</button></td>

    </tr>
  </tbody>
</table>

<form #userForm="ngForm" (ngSubmit)="UpdateUSer(userForm.value,data._id)">
  <input type="text" ngModel name="tittle" value={{data.tittle}} placeholder="tittle" />
  <br /><br />
  <input type="text" ngModel name="subTittle" value={{data.subTittle}} placeholder="tittle" />
  <br /><br />
  <button ngModel>add Data</button>
</form>

